#logo {
    float: left;
    margin-top: 2px;
    margin-left: 35px;
}

#menu {
word-spacing: 32px;
margin: 0px;
padding: 0px;
float:left;
margin-right: 40px;
text-align: center;
float: left;
margin-top: 16px;
}
 #menu .link {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #2A2A2A;
text-decoration: none;
position: relative;
height: 21px;
left: 79.39%;
right: 4.85%;
top: 5%;
}
#serchmenu {
float: right;
word-spacing: 32px;
margin: 0px;
padding: 0px;
margin-top: 16px;
margin-right: 35px;
}
#serchmenu .link {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #2A2A2A;
text-decoration: none;
position: relative;
}
#mainmenu{
    text-align: center;
    word-spacing: 31px;

    
}
.link {
font-family: 'Roboto', 'Jost', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
color: #B3B3B3;
text-decoration: none;
word-spacing: 10px;
}
a:hover {
    color: black;
}

a:active {
    color: brown;
}